.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px 20px;
  gap: 110px;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.submit-button {
  height: 40px;
  align-self: flex-start;
  margin-top: 40px;
}


@media (max-width: 700px) {
  .form-container {
    gap: 10px;
  }

}