.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 30px;
  gap: 50px;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.submit-button {
  height: 40px;
  align-self: center;
  margin-top: 20px;
}
